:root {
    --dark-cyan: #0e8784;
    --dark-grey-blue: #333d4b;
    --pale-orange: #fdd6ba;
    --light-cream: #fefcf7;
    --grey: #83888f;
    --dark-grey: #2c343e;
    --btn-hover: #66d2cf;
    --btn-disabled: #e2dedb;
    --bk-blend: #a2a2a2;
}
/* || CSS reset */
* {
    box-sizing: border-box;
}
/* ||  GENERAL STYLES*/

body {
    font-family: "Barlow", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    color: var(--dark-grey-blue);
    text-align: left;
}
h1 {
    font-size: 72px;
    line-height: 72px;
}
h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
}
h3 {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0px;
}
h4 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}
#nav-menu-lines,
#nav-menu-close,
.nav-bk {
    display: none;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li {
    list-style-type: none;
    text-transform: uppercase;
}
nav ul li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey);
}
nav ul li a:hover,
nav ul li a:active {
    font-weight: 900;
}
.btn {
    background-color: var(--dark-cyan);
    border: none;
    font-family: inherit;
    border-radius: 6px;
    padding: 0;
    font-family: "Fraunces", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--light-cream);
    cursor: pointer;
}
.btn:disabled {
    background-color: var(--btn-disabled);
}

.btn:hover:enabled {
    background-color: var(--btn-hover);
}
.btn:active:enabled {
    background-color: var(--dark-cyan);
}

/*----------------------*/
/*    CREATE A PLAN     */
/*----------------------*/
.container-create-plan {
    width: 100%;
    height: 450px;
    background-image: url("./assets/plan/desktop/image-hero-blackcup.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    background-color: var(--bk-blend);
    background-blend-mode: multiply;
    color: var(--light-cream);
    margin: 0px auto;
}
.container-create-plan h1 {
    margin: 0px 0px 0px 85px;
    padding-top: 134px;
    color: var(--light-cream);
}
.container-create-plan p {
    line-height: 26px;
    margin: 32px 0px 0px 85px;
    padding: 0px;
    width: 442px;
    box-sizing: border-box;
    opacity: 0.8;
}

/*----------------------*/
/*       SELECTOR       */
/*----------------------*/
.selection {
    width: 100%;
    height: 653px;
    background-color: var(--dark-grey);
    border-radius: 10px;
    margin: 168px auto 0px auto;
    position: relative;
}
.selection-container {
    width: 1045px;
    height: 453px;
    position: absolute;
    top: 100px;
    left: 85px;
}
.selector-circle-container {
    width: 791px;
    height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 67px;
}
.selector-circle-container .circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid var(--dark-cyan);
}
.selector-circle-container .line {
    width: 349px;
    height: 2px;
    background-color: var(--pale-orange);
}

.selection-container .coffee-picker {
    width: 285px;
    height: 355px;
    display: flex;
    justify-content: space-between;
}
.coffee-picker .selectors {
    width: 285px;
    display: flex;
    flex-direction: column;
    margin-right: 95px;
}
.coffee-picker .selectors .selector-number {
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--pale-orange);
}
.coffee-picker .selectors .selector-action {
    width: 255px;
    font-family: "Fraunces", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: var(--light-cream);
    margin-top: 38px;
    margin-bottom: 24px;
}
.coffee-picker .selectors p {
    width: 285px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--light-cream);
}
/*----------------------*/
/*        PLANNER        */
/*----------------------*/
.planner {
    width: 100%;
}
.planner .planner-container {
    width: 1110px;
    margin: 168px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.planner-selectors ul {
    width: 255px;
    height: 356px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 20px;
}
.planner-selectors ul li {
    list-style-type: none;
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: var(--dark-grey-blue);
    border-bottom: 1px solid rgba(131, 136, 143, 0.65);
    opacity: 0.4;
    padding-bottom: 24px;
}
.planner-selectors ul li:last-child {
    border-bottom: none;
}
.planner-selectors ul .prefActive {
    opacity: 1;
}
.planner-selectors ul .prefActive span {
    color: var(--dark-cyan);
}
.planner-selectors ul li span {
    margin-right: 20px;
}
.planner-container .dropdowns-container {
    width: 730px;
}
.planner-container .dropdowns-container h2 {
    margin: 0px;
    color: var(--grey);
}
.dropdowns .dropdown {
    margin-bottom: 88px;
}
.dropdown-chevron {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    cursor: pointer;
}

.dropdowns-container .dropdowns .dropdown.active img {
    transform: rotate(180deg);
}
.planner-container .dropdowns-container .dropdowns .dropdown .options {
    width: 730px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}
.planner-container .dropdowns-container .dropdowns .dropdown.active .options {
    display: flex;
}
.option {
    width: 228px;
    background-color: #f4f1eb;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0px 28px;
    cursor: pointer;
}
.option h4 {
    margin: 32px 0px 0px 0px;
    color: var(--dark-grey-blue);
}
.option p {
    margin: 24px 0px 0px 0px;
}
/* HOVER*/
.option:hover > h4 {
    background-color: none;
    color: #fff;
}
.option:hover {
    background-color: var(--pale-orange);
    color: var(--light-cream);
}

/* ACTIVE CLASS*/

.option.preference-option.active > h4 {
    color: var(--light-cream);
}
.option.preference-option.active {
    background-color: var(--dark-cyan);
    color: var(--light-cream);
}
.option.bean-type-option.active > h4 {
    color: var(--light-cream);
}
.option.bean-type-option.active {
    background-color: var(--dark-cyan);
    color: var(--light-cream);
}
.option.quantity-option.active > h4 {
    color: var(--light-cream);
}
.option.quantity-option.active {
    background-color: var(--dark-cyan);
    color: var(--light-cream);
}
.option.grind-option.active > h4 {
    color: var(--light-cream);
}
.option.grind-option.active {
    background-color: var(--dark-cyan);
    color: var(--light-cream);
}
.option.delivery-option.active > h4 {
    color: var(--light-cream);
}
.option.delivery-option.active {
    background-color: var(--dark-cyan);
    color: var(--light-cream);
}
/*DISABLED CLASS*/
.grind-dropdown.dropdown.disable {
    cursor: text;
    color: var(--dark-grey-blue);
    opacity: 0.22;
}
.dropdown-chevron.disable {
    cursor: not-allowed;
}
.grind.planner-selector.disable {
    color: var(--dark-grey-blue);
    opacity: 0.22;
}
/*END OF ACTIVE CLASS*/
.order {
    width: 730px;
    height: 208px;
    position: relative;
    background-color: var(--dark-grey);
    margin-bottom: 208px;
}
.order .btn {
    width: 217px;
    height: 56px;
    position: absolute;
    right: 0;
    top: 246px;
}
.order div {
    padding: 27px 64px;
}
.order div h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0px;
}
.order div p {
    font-family: "Fraunces", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    margin: 8px 0px 0px 0px;
}
#order-summary span {
    color: var(--dark-cyan);
}

/*----------------------*/
/*        FOOTER        */
/*----------------------*/
footer {
    width: 100%;
    background-color: var(--dark-grey);
    margin-bottom: 88px;
}
.nav-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1110px;
    height: 120px;
    margin: auto;
}
.nav-links ul {
    display: flex;
    flex-direction: row;
    width: 282px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-right: 368px;
}
.nav-footer .logo {
    margin-right: 103px;
}
.nav-footer ul li {
    list-style-type: none;
    text-transform: uppercase;
}
.nav-footer ul li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: var(--grey);
}
.nav-footer ul li a:hover,
.nav-footer ul li a:active {
    font-weight: 900;
    color: var(--light-cream);
}
.nav-footer .social-icons {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon:hover {
    fill: var(--pale-orange);
}
.icon {
    fill: var(--light-cream);
}

/* 	=====================
	   DESKTOP 1440px
    =====================
*/
@media screen and (min-width: 1025px) {
    nav {
        width: 1280px;
        margin: auto;
        height: 113px;
    }
    nav ul {
        width: 280px;
        justify-content: space-between;
    }
    main {
        width: 1280px;
        margin: 0 auto;
    }
}

/* 	=====================
	    TABLET 1024px
    =====================
*/
@media (min-width: 481px) and (max-width: 1024px) {
    nav {
        width: 689px;
        margin: 40px auto 0px auto;
        height: 26px;
    }
    nav ul {
        width: 282px;
        justify-content: space-between;
    }
    main {
        width: 689px;
        margin: 0 auto;
    }
    /*----------------------*/
    /*       SELECTOR       */
    /*----------------------*/
    .selection {
        width: 100%;
        margin: 0 auto 0 auto;
    }
    .selection-container {
        width: 689px;
        height: 571px;
    }
    .selection-container h4 {
        font-size: 24px;
        line-height: 32px;
        margin: 0px auto;
    }
    .selector-circle-container {
        width: 497px;
        margin-top: 39px;
        margin-bottom: 48px;
    }
    .selector-circle-container .line {
        width: 202px;
    }
    .selection-container .coffee-picker {
        width: 689px;
        height: 371px;
    }
    .coffee-picker .selectors {
        width: 233px;
        display: flex;
        flex-direction: column;
    }
    .coffee-picker .selectors .selector-number {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 25px;
    }
    .coffee-picker .selectors p {
        font-size: 15px;
        line-height: 25px;
        margin: 12px 0px 0px 0px;
        width: 204px;
    }
    .coffee-picker .selectors .second-p {
        width: 215px;
    }
    .coffee-picker {
        margin-bottom: 0;
    }
    .selection .btn {
        margin-top: -10px;
        margin-bottom: 144px;
    }

    /*----------------------*/
    /*        FOOTER        */
    /*----------------------*/
    footer {
        margin-bottom: 72px;
    }
    .nav-footer {
        flex-direction: column;
        justify-content: flex-start;
        width: 688px;
        height: 270px;
        margin: auto;
    }
    .nav-links ul {
        display: flex;
        flex-direction: row;
        width: 282px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: auto;
    }
    .nav-footer .logo {
        margin: 54px 0 23px 0;
    }
    .nav-footer .social-icons {
        margin-top: 68px;
    }
}
/* 	=====================
	    MOBILE 480px
    =====================
*/
@media (max-width: 480px) {
    header {
        max-width: 100%;
    }

    nav {
        width: 327px;
        margin: 32px auto 0px auto;
        height: 18px;
        position: relative;
    }

    .nav-bk.active {
        display: block;
        width: 100%;
        height: 577px;
        position: absolute;
        top: 40px;
        left: 0px;
        background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
        transform: matrix(1, 0, 0, -1, 0, 0);
        z-index: 2;
    }
    .nav-bk,
    #nav-menu {
        display: none;
    }
    #nav-menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        top: 105px;
        padding: 0;
        z-index: 100;
        width: 100%;
    }
    nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    nav ul li a {
        font-family: "Fraunces", serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--dark-grey-blue);
        z-index: 500;
        margin-bottom: 32px;
    }
    #nav-menu-close.active {
        display: block;
        position: relative;
    }
    #nav-menu-close.active .close-line {
        display: block;
        position: absolute;
        right: 0;
        height: 3px;
        width: 16px;
        background-color: var(--dark-grey-blue);
        border-radius: 1.5px;
        transition: transform 0.5s linear;
    }
    #nav-menu-close.active .close-line.line3 {
        transform: rotate(45deg);
    }
    #nav-menu-close.active .close-line.line4 {
        transform: rotate(-45deg);
    }
    #nav-menu-lines.active {
        display: block;
        width: 16px;
        height: 15px;
        margin-top: 2px;
    }
    #nav-menu-lines .line {
        height: 3px;
        width: 16px;
        background-color: var(--dark-grey-blue);
        border-radius: 1.5px;
    }
    #nav-menu-lines .line.line2,
    #nav-menu-lines .line.line3 {
        margin-top: 3px;
    }
    main {
        width: 327px;
        margin: 0px auto;
    }

    /*----------------------*/
    /*       SELECTOR       */
    /*----------------------*/
    .selection {
        width: 100%;
        margin: 710px auto 0px auto;
    }
    .selection-container {
        width: 327px;
        height: 975px;
    }
    .selection-container h4 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin: 0px auto -15px auto;
    }
    .selector {
        display: none;
    }
    .selection-container .coffee-picker {
        width: 327px;
        height: 971px;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0px auto;
    }
    .selection-container .coffee-picker .selectors {
        width: 327px;
        height: 252px;
    }
    .coffee-picker .selectors .selector-number {
        font-size: 72px;
        line-height: 72px;
        text-align: center;
        margin: 0px auto 20px auto;
    }
    .coffee-picker .selectors .selector-action {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        margin: auto;
    }
    .coffee-picker .selectors p {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin: 22px auto 0px auto;
        width: 100%;
    }
    .selection .btn {
        margin-top: 160px;
        margin-bottom: 120px;
    }

    /*----------------------*/
    /*        FOOTER        */
    /*----------------------*/
    footer {
        margin-bottom: 72px;
    }
    .nav-footer {
        flex-direction: column;
        justify-content: flex-start;
        width: 327px;
        height: 346px;
        margin: auto;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        width: 282px;
        height: 86px;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: auto;
    }
    .nav-footer .logo {
        margin: 54px 0 46px 0;
    }
    .nav-footer .social-icons {
        margin-top: 51px;
    }
}
